/**
*  Copyright (c) 2014 http://www.lushapp.wang
*
*  Licensed under the Apache License, Version 2.0 (the "License");
*/
package $entityPackage;

import com.fasterxml.jackson.annotation.JsonIgnoreProperties;

import javax.persistence.Column;
import javax.persistence.Entity;
import javax.persistence.Table;

import com.youyun.common.orm.entity.BaseEntity;

/**
 * $tableComment entity
 * @author honey.zhao@aliyun.com  
 */
@Entity
@Table(name="$tableName")
@JsonIgnoreProperties (value = { "hibernateLazyInitializer", "handler","fieldHandler" })
public class $entityName extends BaseEntity{

#foreach ($column in $columns)
   #if($column.comment)
	/**
	 *$column.comment
     */
    #end
@Column(name = "$column.columnName",#if(!$column.nullable)nullable=false,#end length = $column.length)
    private $column.javaType $column.fieldName;
#end

#foreach ($column in $columns)
    public void ${column.setMethod}(${column.javaType} ${column.fieldName}){
       this.${column.fieldName} = ${column.fieldName};
    }
    
    public ${column.javaType} ${column.getMethod}(){
       return this.${column.fieldName} ;
    }
#end
	
}
