<?xml version="1.0" encoding="UTF-8"?>
<beans
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:task="http://www.springframework.org/schema/task"
        xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd"
        default-autowire="byName" default-lazy-init="false">

    <description>Spring3任务调度</description>

    <!-- Spring scheduled定时任务配置 -->
    <!-- 线程池（执行器） pool-size:线程池活跃的线程数为1，最大线程数为4； queue-capacity:任务队列的最大容量-->
    <task:executor id="executor" pool-size="1-4" queue-capacity="128" />
    <task:scheduler id="scheduler" pool-size="10"  />
    <task:annotation-driven executor="executor" scheduler="scheduler" />

    <!--<bean id="springJobManager" class="com.youyun.timer.spring.SpringJobManager"></bean>-->
    <!-- 方法上没有@Scheduled注解的配置方式 -->
    <!--<task:scheduled-tasks>-->
        <!--&lt;!&ndash; fixed-delay:延迟执行时间(即,循环周期执行)(毫秒ms) &ndash;&gt;-->
        <!--<task:scheduled ref="springJobManager" method="xmlTest" fixed-delay="#{60*1000}" />-->
        <!--<task:scheduled ref="springJobManager" method="xmlTest" cron="0/1 * * * * ?" />-->
    <!--</task:scheduled-tasks>-->

</beans>