<?xml version="1.0" encoding="UTF-8"?>
<web-app
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
        version="2.5">
  <display-name>AviationManager</display-name>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>
            classpath*:applicationContext.xml,
            classpath*:applicationContext-ehcache.xml,
            classpath*:applicationContext-task.xml,


        </param-value>
  </context-param>
  <context-param>
    <param-name>appconfig</param-name>
    <param-value>classpath:/appconfig.properties</param-value>
  </context-param>
  <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>forceEncoding</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>DruidWebStatFilter</filter-name>
    <filter-class>com.alibaba.druid.support.http.WebStatFilter</filter-class>
    <init-param>
      <param-name>exclusions</param-name>
      <param-value>*.js,*.gif,*.jpg,*.png,*.css,*.ico,/druid/*</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>DruidWebStatFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
  </listener>
  <listener>
    <listener-class>com.lushapp.listener.SystemInitListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
  </listener>
  <filter>
    <filter-name>hibernateOpenSessionInViewFilter</filter-name>
    <filter-class>com.lushapp.common.orm.hibernate.OpenSessionInViewFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>hibernateOpenSessionInViewFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>AccessLogFilter</filter-name>
    <filter-class>com.lushapp.core.web.filter.AccessLogFilter</filter-class>
    <init-param>
      <param-name>blackListURL</param-name>
      <param-value>/static/**,*.js,*.css,*.jpg,*.gif,*.png,*.ico</param-value>
    </init-param>
    <init-param>
      <param-name>whiteListURL</param-name>
      <param-value>/**</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>AccessLogFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>expiresHeaderFilter</filter-name>
    <filter-class>com.lushapp.common.web.filter.ResponseHeaderFilter</filter-class>
    <init-param>
      <param-name>Cache-Control</param-name>
      <param-value>public, max-age=31536000</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>expiresHeaderFilter</filter-name>
    <url-pattern>/static/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>gzipFilter</filter-name>
    <filter-class>net.sf.ehcache.constructs.web.filter.GzipFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>gzipFilter</filter-name>
    <url-pattern>*.css</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>gzipFilter</filter-name>
    <url-pattern>*.js</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>gzipFilter</filter-name>
    <url-pattern>*.png</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>gzipFilter</filter-name>
    <url-pattern>*.jpg</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>gzipFilter</filter-name>
    <url-pattern>*.gif</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>gzipFilter</filter-name>
    <url-pattern>*.html</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>gzipFilter</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>gzipFilter</filter-name>
    <url-pattern>*.json</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>SpringMVC</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath*:/applicationContent-mvc*.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>SpringMVC</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FileUploadServlet</servlet-name>
    <servlet-class>
      com.lushapp.common.web.servlet.kindeditor.FileUploadServlet
    </servlet-class>
    <init-param>
      <param-name>UPLOAD_PATH</param-name>
      <param-value>attached/</param-value>
    </init-param>
    <init-param>
      <param-name>Img_MAX_SIZE</param-name>
      <param-value>1024000</param-value>
    </init-param>
    <init-param>
      <param-name>Img_YPES</param-name>
      <param-value>gif,jpg,jpeg,png,bmp</param-value>
    </init-param>
    <init-param>
      <param-name>File_MAX_SIZE</param-name>
      <param-value>1000000</param-value>
    </init-param>
    <init-param>
      <param-name>File_TYPES</param-name>
      <param-value>doc,docx,xls,xlsx,ppt,pptx,pdf,zip,rar,txt</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>FileManagerServlet</servlet-name>
    <servlet-class>
      com.lushapp.common.web.servlet.kindeditor.FileManagerServlet
    </servlet-class>
    <init-param>
      <param-name>UPLOAD_PATH</param-name>
      <param-value>attached/</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileUploadServlet</servlet-name>
    <url-pattern>/servlet/FileUploadServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FileManagerServlet</servlet-name>
    <url-pattern>/servlet/FileManagerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StaticContentServlet</servlet-name>
    <servlet-class>com.lushapp.common.web.servlet.StaticContentServlet</servlet-class>
    <init-param>
      <param-name>CacheManager</param-name>
      <param-value>ehCacheManagerFactory</param-value>
    </init-param>
    <init-param>
      <param-name>cacheKey</param-name>
      <param-value>contentInfoCache</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>StaticContentServlet</servlet-name>
    <url-pattern>/servlet/StaticContentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RemoteContentServlet</servlet-name>
    <servlet-class>com.lushapp.common.web.servlet.RemoteContentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoteContentServlet</servlet-name>
    <url-pattern>/servlet/RemoteContentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ValidateCodeServlet</servlet-name>
    <servlet-class>com.lushapp.common.web.servlet.ValidateCodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidateCodeServlet</servlet-name>
    <url-pattern>/servlet/ValidateCodeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DownloadChartServlet</servlet-name>
    <servlet-class>com.lushapp.common.web.servlet.DownloadChartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadChartServlet</servlet-name>
    <url-pattern>/servlet/DownloadChartServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>/static/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DruidStatView</servlet-name>
    <servlet-class>com.alibaba.druid.support.http.StatViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DruidStatView</servlet-name>
    <url-pattern>/druid/*</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>/index.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/common/500.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/common/500.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/common/404.jsp</location>
  </error-page>
  <error-page>
    <error-code>403</error-code>
    <location>/common/403.jsp</location>
  </error-page>
  <jsp-config>
    <taglib>
      <taglib-uri>/essh-tags</taglib-uri>
      <taglib-location>/WEB-INF/tlds/es.tld</taglib-location>
    </taglib>
  </jsp-config>
</web-app>