body{font-size:12px;}
/*最外层的div*/

.pop_col_outter {padding: 0px 0 0px 0;width:615px;padding-left:0px;float: left;}

/*一行展示一个属性编辑*/
.pop_col_one {float: left;width: 610px;margin-bottom:1px;height:25px;}
.pop_col_one dl {float: left;padding-top: 0px;color: #565656;margin-top:1px;height:25px;}
.pop_col_one dt.dt1 {float: left;width: 128px;text-align: right;line-height: 23px;background-color: #e9e9e9;}
.pop_col_one dt.dt2 {float: left;width: 470px;line-height: 23px;margin-left: 0px;padding-left: 5px;}
.pop_col_one input{width:445px;} /*做为窗口弹出时宽度为：443px;  */

/*一行展示两个属性编辑*/
.pop_col_two {float: left;width:305px;margin-bottom:1px;height:25px;}
.pop_col_two dl {float: left;padding-top: 0px;color: #565656;margin-top:1px;height:25px;}
.pop_col_two dt.dt1 {float: left;text-align: right;line-height: 23px;width: 128px;background-color: #e9e9e9;}
.pop_col_two dt.dt2 {float: left;line-height: 23px;width:160px;padding-left: 5px;}
.pop_col_outter .radio{width:20px;} 
.pop_col_two input{width:140px;}

/*文本域所在行*/
.pop_col_area {float: left;margin-bottom:3px;width: 610px;height:66px;}
.pop_col_area dl {padding-top: 0px;color: #565656;float: left; margin-top:1px;}
.pop_col_area dt.dt1 {float: left;width: 128px;text-align: right;line-height: 66px;background-color: #e9e9e9;}
.pop_col_area dt.dt2 {float: left;width: 460px;line-height: 66px;padding-left: 5px;vertical-align:top;}
.pop_col_outter textarea{width:445px;height:66px;}
