form {
	margin: 0;
	padding: 5px 20px 20px 20px;
}

form div {
	margin-bottom: 5px;
}

form div textarea {
    position: relative; resize: none; height: 75px; width: 260px;
}

form div input[type="text"],
form div input[type="password"] {
	width: 260px;
}

form div label {
	display: inline-block;
	text-align: left;
	width: 96px;
}